<!doctype html>
<html lang="en">

<head>
    <title>Libros y Autores</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container">

        <div class="col-sm-12 col-lg-6">
            <h3>Añadir libro</h3>
            <form action='procesarlibro/{{book.id}}' method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="libro_titulo-id" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="libro_titulo-id" name="Titulo_libro">
                </div>

                <div class="mb-3">
                    <label for="descripcion-id" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion-id" name="Descripcion_libro">
                </div>

                <div class="mb-3">
                    <label for="autor" class="form-label">Libro</label>
                    <select class="form-select" name="autor">
            <option selected value="">Selecciona un LIBRO</option>

            {% for book in books %}
            <option value="{{book.id}}">{{book.id}} ({{book.title}})</option>
            {% endfor %}

          </select>
                </div>

                <button type="submit" class="btn btn-primary">Añade LIBRO</button>

                </button>
            </form>

        </div>
    </div>


    <div class="row">
        <div class="offset-3 col-6">
            <h1>Listado de Libros</h1>
            <table class="table">
                <thead>
                    <tr scope="col">
                        <th>ID</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td scope="row">{{book.id}}</td>
                        <td scope="row">{{book.title}}</td>
                        <td scope="row"><a href="procesarlibro/{{book.id}}" class="link-success">{{book.action}}</td></a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <ul>

                {% comment %} books es el contexto,book es la foreign key {% endcomment %}


                <li> <b> <b> {{book.id}} </b> <a class="badge bg-danger" dato="{{book.id}}">id</a> {{book.title}} </b> <a class="badge bg-danger btnEliminar" dato="{{book.title}}">Eliminar</a>
                    <b> {{book.action}} </b> <a class="badge bg-danger btnaction" dato="{{book.action}}">Ver</a>
                    <ul>
                        {% for ninja in dojo.ninjas.all %}

                        <li>{{ninja.first_name}} {{ninja.last_name}}</li>
                        {%endfor%}
                    </ul>
                </li>



            </ul>

        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        $(".btnEliminar").click(function() {
            var id = $(this).attr("dato");
            alert(id)
                // href="/borrar_dojo/{{dojo.id}}

        });
    </script>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>